*.a
*.bundle
*.o
*.pc
*.so
*.swp
*/pkg/
*/tmp/
*/vendor/
.RUBYARCHDIR.time
.RUBYLIBDIR*.time
.emacs.desktop
.emacs.desktop.lock
.gdb_history
.rbx/
/*.tar.gz
/.ccache/
/.yardoc/
/Gemfile.local
/Gemfile.lock
/build/.vagrant/
/dist/
/gdk3/ext/gdk3/rbgdkkeysyms.h
/gio2/test/fixture/resource/ruby-gio2.gresource
/glib2/ext/glib2/glib-enum-types.c
/glib2/ext/glib2/glib-enum-types.h
/gobject-introspection/ext/gobject-introspection/gobject-introspection-enum-types.c
/gobject-introspection/ext/gobject-introspection/gobject-introspection-enum-types.h
/gobject-introspection/ext/gobject-introspection/rbgiversion.h
/goocanvas/ext/goocanvas/rbgoo_canvasversion.h
/gtk2/ext/gtk2/rbgdkkeysyms.h
/gtk3/test/fixture/*.gresource
/gtksourceview2/ext/gtksourceview2/rbgtksourceview2version.h
/gtksourceview3/ext/gtksourceview3/rbgtksourceview3version.h
/misc/release.rb
/poppler/test/tmp/
/tmp/
Makefile
Makefile.lib
gschemas.compiled
mkmf.log
yard_docs
