*.a
*.bundle
*.o
*.so
*.swp
.emacs.desktop
.emacs.desktop.lock
Makefile
Makefile.lib
atk/ext/atk/rbatkversion.h
atk/ext/atk/ruby-atk.pc
gdk_pixbuf2/ext/gdk_pixbuf2/ruby-gdk-pixbuf2.pc
gio2/ext/gio2/ruby-gio2.pc
glib2/ext/glib2/glib-enum-types.c
glib2/ext/glib2/glib-enum-types.h
glib2/ext/glib2/ruby-glib2.pc
gtk2/ext/gtk2/rbgdkkeysyms.h
gtk2/ext/gtk2/rbgtkinits.c
gtk2/ext/gtk2/ruby-gtk2.pc
pango/ext/pango/rbpangoversion.h
pango/ext/pango/ruby-pango.pc
mkmf.log
gstreamer/tmp/
*/vendor/
