*.a
*.bundle
*.o
*.so
*.swp
.emacs.desktop
.emacs.desktop.lock
Makefile
Makefile.lib
*.pc
.rbx/
/atk/ext/atk/rbatkversion.h
/glib2/ext/glib2/glib-enum-types.c
/glib2/ext/glib2/glib-enum-types.h
/gtk2/ext/gtk2/rbgdkkeysyms.h
/gdk3/ext/gdk3/rbgdkkeysyms.h
/gtksourceview2/ext/gtksourceview2/rbgtksourceview2version.h
/gtksourceview3/ext/gtksourceview3/rbgtksourceview3version.h
/goocanvas/ext/goocanvas/rbgoo_canvasversion.h
/poppler/test/tmp/
/gobject-introspection/ext/gobject-introspection/gobject-introspection-enum-types.c
/gobject-introspection/ext/gobject-introspection/gobject-introspection-enum-types.h
/gobject-introspection/ext/gobject-introspection/rbgiversion.h
mkmf.log
*/tmp/
*/vendor/
*/pkg/
.gdb_history
/dist/
/misc/release.rb
/*.tar.gz
/tmp/
/Gemfile.lock
/Gemfile.local
/build/.vagrant/
