name: Release
on:
  push:
    tags:
      - "*"
jobs:
  github:
    name: GitHub
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - name: Release
        run: |
          ruby \
            -e 'print("## "); puts(ARGF.read.split(/^## /)[1])' \
            NEWS.md > release-note.md
          title="$(head -n 1 release-note.md | sed -e 's/^## //')"
          tail -n +2 release-note.md > release-note-without-version.md
          gh release create \
            ${GITHUB_REF_NAME} \
            --discussion-category Releases \
            --notes-file release-note-without-version.md \
            --title "${title}"
        env:
          GH_TOKEN: ${{ github.token }}

  rubygems:
    name: RubyGems
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      id-token: write
    environment: release
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ruby
      - name: Build gems
        run: |
          rake gem:build
      - uses: rubygems/configure-rubygems-credentials@v1.0.0
      - name: Push gems
        run: |
          rake gem:push
