name: Windows
on:
  - push
  - pull_request
jobs:
  test:
    name: Test
    strategy:
      fail-fast: false
      matrix:
        ruby-version:
          - "2.4"
          - "2.5"
          - "2.6"
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
      - name: Update MSYS2
        run: |
          ridk exec pacman -Syu --noconfirm
      - name: Install Bundler
        run: |
          gem install bundler
      - name: Install dependencies
        run: |
          bundle install
      - name: Build
        run: |
          bundle exec ruby -rdevkit -S rake build
      # TODO
      # - name: Test
      #   run: |
      #     bundle exec ruby -rdevkit -S rake test
