name: Windows
on:
  - push
  - pull_request
jobs:
  test:
    name: Test
    strategy:
      fail-fast: false
      matrix:
        ruby-version:
          - "3.2"
          - "3.3"
          - "3.4"
    runs-on: windows-latest
    env:
      RUBY_GNOME_CLUTTER_ENABLE: "no"
      RUBY_GNOME_CLUTTER_GDK_ENABLE: "no"
      RUBY_GNOME_CLUTTER_GSTREAMER_ENABLE: "no"
      RUBY_GNOME_CLUTTER_GTK_ENABLE: "no"
      RUBY_GNOME_GNUMERIC_ENABLE: "no"
      RUBY_GNOME_GOFFICE_ENABLE: "no"
      RUBY_GNOME_VTE3_ENABLE: "no"
      RUBY_GNOME_VTE4_ENABLE: "no"
      RUBY_GNOME_WEBKIT2_GTK_ENABLE: "no"
      RUBY_GNOME_WEBKIT_GTK_ENABLE: "no"
      RUBY_GNOME_WNCK3_ENABLE: "no"
    timeout-minutes: 45
    steps:
      - uses: actions/checkout@v6
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
      - name: Install dependencies
        run: |
          gem install erb rubygems-requirements-system test-unit
      - name: Install
        run: |
          ruby -rdevkit -S rake gem:install
      - name: "Test: glib2"
        run: |
          cd glib2
          ruby -rdevkit test/run-test.rb
      - name: "Test: gobject-introspection"
        run: |
          cd gobject-introspection
          ruby -rdevkit test/run-test.rb
