name: Windows
on:
  - push
  - pull_request
jobs:
  test:
    name: Test
    strategy:
      fail-fast: false
      matrix:
        ruby-version:
          - "3.1"
          - "3.2"
    runs-on: windows-latest
    timeout-minutes: 45
    steps:
      - uses: actions/checkout@v3
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
      - name: Update MSYS2
        run: |
          ridk exec pacman -Syu --noconfirm
          taskkill /F /FI "MODULES eq msys-2.0.dll"
      - name: Install Bundler
        run: |
          gem install bundler
      - name: Install dependencies
        run: |
          bundle install
      - name: Build
        run: |
          bundle exec ruby -rdevkit -S rake build
      - name: "Test: glib2"
        run: |
          cd glib2
          bundle exec ruby -rdevkit test/run-test.rb
      - name: "Test: gobject-introspection"
        run: |
          cd gobject-introspection
          bundle exec ruby -rdevkit test/run-test.rb

  gem:
    name: Gem
    strategy:
      fail-fast: false
      matrix:
        ruby-version:
          - "3.1"
          - "3.2"
    runs-on: windows-latest
    timeout-minutes: 10
    env:
      PACKAGES: "glib2,gobject-introspection"
    steps:
      - uses: actions/checkout@v3
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
      - name: Build
        run: |
          rake gem:build
      - name: Install
        run: |
          rake gem:install
